@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  --primary-color: #00b7ff;
  --bg-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Montserrat', sans-serif;
}

/* Social Links */

header {
  position: relative;
  background: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
}

.menu-icon {
  position: absolute;
  margin: 5px;
}

.mjp-logo {
  position: absolute;
  margin: 30px;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}
/* Header END */

.socials ul {
  margin-left: 100px;
  list-style: none;
  line-height: 1.1;
}

.socials ul li a {
  font-size: 0.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Social Links END */
