@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

header a{
  text-decoration: none;
}

header img {
  width: 5%;
}
/* Header END */

/* Utilities */
.flex {
  display: flex;
}
/* Utilities END */